.add-to-cart-button:hover {
  background-color: #a8dadc !important;
  border: 1px solid #f1faee !important;
}

.add-to-cart-icons:hover {
  fill: #1d3557;
  stroke: #1d3557;
}

.buy-button:hover {
  background-color: #e63946 !important;
  border: 1px solid #e63946 !important;
  color: #f1faee !important;
}

.album-art {
  transition: transform 0.2s;
}

.album-art:hover {
  transform: scale(1.1);
}
